#html-css {
  margin-top: var(--header-height);
  display: flex;
}

#html-css .main-content {
  padding: 10px;
  margin-left: 10px;
}

#html-css .main-content .title {
  margin-bottom: 10px;
  margin-top: 10px;
}

#html-css .main-content .content {
 margin-left: 20px;
}

