:root {
  --primary: #ff4d4d;
  --primary2: #f484de;
  --primary3: #a9cbf9;
  --primary4: #e273db;
  --primary5: #4a0193;
  --white: #FFF;
  --black: #000;
  --hover: lightgray;
  --steal: rgb(234, 255, 255);
  --background: #E75874;
  --linear-gradient: linear-gradient(90deg, rgba(234, 255, 255, 1) 0%, rgba(240, 255, 254, 1) 14%, rgba(251, 245, 255, 1) 32%, rgba(255, 244, 253, 1) 55%, rgba(241, 240, 255, 1) 77%, rgba(255, 244, 247, 1) 100%);
  --header-height: 56px;
  --sidebar-width: 250px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

h3 {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

#header {
  height: var(--header-height);
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.5);
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav li {
  display: inline-block;
  width: 111px;
  height: var(--header-height);
  margin-right: 4px;
  position: relative;
}

#nav li div {
  height: 50px;
  width: 111px;
  cursor: pointer;
  padding-top: 12px;
}

#nav li a {
  text-decoration: none;
}

.active {
  border-bottom: 3.5px solid var(--primary);
  padding-top: 2px;
}

.header_hover {
  margin-top: 3px;
}

#nav li .header_hover:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

#nav li .icon {
  width: 28px;
  height: 28px;
  font-size: 40px;
  display: block;
  margin: 0 auto;
}

#nav li:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  color: #F5F6F7;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  top: 110%;
}

#content {
  padding: 20px;
}

.sidebar {
  border-top-right-radius: 10px;
  width: var(--sidebar-width);
  min-height: 100vh;
}

.sidebar .title {
  padding: 16px;
  color: var(--primary5);
}

.sidebar ol {
  list-style: none;
}

.sidebar ol li {
  cursor: pointer;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 2px;
  padding: 16px;
  margin-right: 2px;
  border-radius: 10px;
}

.sidebar ol li:hover {
  background-color: var(--primary3);
}

.sidebar ol .sidebar_active {
  background-color: var(--primary);
  color: var(--white);
}

ui-code {
  font-family: Consolas, "courier new";
  background-color: #eee;
  color: #ff4d4d;
}

ui-code-block {
  font-family: Consolas, "courier new";
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}